$maincolor : #1E455C;
$secondrycolor : #02ab3a;
$smallmobile : "screen and (max-width:400px)";
$bigmobile : "screen and (min-width:401px) and (max-width:768px)";


@font-face {
    font-family : Hesham;
    src : url('C:\\Users\\Hoppa\\OneDrive\\Desktop\\SkySoftTeam\\FOONTS\\ArbFONTS-Hesham-free.ttf')

}